body{
    font-family: "Roboto",sans-serif !important;
}
.header{
    background-color: white;
    box-shadow: 0 5px 5px -4px rgb(209,208,208);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
}
.xe3v8dz{
    color: white;
}
.round-fb-icon{
    color: #0866FF;
}
.flex-items-center{
    display: flex;
    align-items: center;
    position: relative;
}
.search{
    width: 240px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #F0F2F5;
    padding-left: 30px;
    margin-left: 8px;
    z-index: 2;
    box-sizing: border-box;
    transition: padding-left 0.3s ease-in-out;
}
.search-lists{
    width: 320px;
    height: 0;
    background-color: white;
    box-shadow: 4px 4px 4px -4px #747474;
    position: absolute;
    left: -20px;
    top:-10px;
    border-radius: 8px;
    overflow: hidden;
    transition: height 0.001s ease-in-out;
}
.search:focus{
    padding-left: 15px;
}
.search:focus-within+.search-lists{
    height: 520px;
}
.icon{
    border-radius: 50%;
    width: 22px;
    height: 22px;
}
.icon:hover{
    background-color: rgb(238,238,238);
}
.fa-arrow-left{
    margin-left:30px ;
    font-size: 22px;
    color: rgb(169,169,169);
    margin-top: 18px;
}
.between-search{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    padding-bottom: 5px;
}    
.between-search h3:first-child{
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
}
.between-search h3:nth-child(2){
    color: #0866FF;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
}
.between-search h3:nth-child(2):hover{
    background-color: rgb(238,238,238);
    border-radius: 4px;
}
.avatar-search{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}
.close-search-icon{
    position: absolute;
    right: 14px;
    top: 16px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: gray;
    font-size: 14px;
}
.search-item{
    margin-left: 10px;
    margin-right: 5px;
    padding: 6px 5px;
    border-radius: 4px;
    cursor: pointer;
}
.search-item:hover{
    background-color: rgb(238,238,238);
}
.close-search-icon{
    background-color: rgb(206,206,206);
}
.left-width{
    width: 20%;
}
.right-width{
    width: 20%;
}
.middle-width{
    width: 40%;
}
.nav-item{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 60px;
    font-size: 20px;
    background-color: white;
    border: none;
}
.nav-item:focus{
    color: #0866FF;
    border-bottom: 3px solid #0866FF;
}
.right-item{
    width: 40px;
    height: 40px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #F0F2F5;
    border-radius: 50%;
    margin-left: 8px;
    cursor: pointer;
    border: none;
}
.right-item:hover{
    background-color: #b5b5b5;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.icon-message:focus{
    color: #0866FF;
}
.sms{
    width: 370px;
    height: 0px;
    background-color: white;
    box-shadow: 4px 4px 4px -4px #747474;
    position: absolute;
    top: 50px;
    border-radius: 18px;
    overflow-y: scroll;
    transition: height 0.001s ease-in-out; 
}
.sms-header{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sms-header h2{
    font-weight: 700;
    font-size: 24px;
}
.click{
    background-color: white;
    border: none;
    outline: none;
    font-size: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.click:hover{
    background-color: #eaeaea;
}
.sms-search {
    margin-top: 15px;
    padding-left: 20px;
    background-color: #f0f2f5;
    width: 315px;
    height: 35px;
    border-radius: 18px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.sms-search-text{
    border: none;
    outline: none;
    background-color: #f0f2f5;
    margin-left: 10px;
}
.search__icon{
    position: absolute;
    left: 10px;
    color: #9a9a9a;
}
.sms-choice {
    display: flex;
    margin-top: 15px;
    gap: 10px;
    margin-left: 10px;
}
.sms-choice-active{
    color: #0866ff;
    background-color: #c4e0f7 !important;
    width: 90px;
    height: 40px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-weight:600;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sms-choice-second{
    width: 100px;
    height: 40px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-weight:600;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.sms-choice button:hover {
    border-radius: 25px;
    background-color: #ededed !important;
}
.sms-people {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.sms-people__ava {
    position: relative;
}
.avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 10px;
}
.sms-people-active {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(28, 231, 28);
    border: 2px solid white;
    position: absolute;
    left: 38px;
    top: 38px;
}
.sms-people__name {
    padding-bottom: 5px;
    font-weight: 600;
}
.active {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    right: 30px;
}
.bell {
    right: 50px;
    position: absolute;
    color: #9a9a9a;
}
.sms-people:hover{
    width: 340px;
    height: 70px;
    background-color: #f5f5f5;
    border-radius: 15px;
    margin-left: 6.5px;
}
.icon-message:focus-within+.sms{
    height: 500px;
}


.icon-bell:focus{
    color: #0866FF;
}
.icon-bell:focus-within+.bell-icon{
    height: 600px;
}
.bell-icon{
    width: 360px;
    height: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 4px -4px #747474;
    position: absolute;
    top: 50px;
    border-radius: 18px;
    overflow-y: scroll;
    transition: height 0.001s ease-in-out; 
    pointer-events: all;
}
.bell-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.bell-header h2{
    font-weight: 700;
    font-size: 24px;
}
.click-ellipsis{
    border: none;
    outline: none;
    background-color: white;
}
.click-icon-item{
    width: 30px;
    height: 30px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important ;
    border-radius: 50%;
    font-size: 15px;
    flex-direction: column;
}
.click-icon-item:hover{
    background-color: rgb(238,238,238);
}
.header-bell{
    padding: 10px;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    gap: 8px;
}
.bell-items{
    width: 72px;
    height: 36px;
    border-radius: 40px;
    background-color: #e2f0fb;
    border: none;
    outline: none;
    padding-top: 8px 0 8px;
}
.bell-items:hover{
    background-color: #c6def1;
}
.bell-itemss{
    width: 88px;
    height: 36px;
    border-radius: 40px;
    background-color: white;
    border: none;
    outline: none;
    padding: 8px 0 8px;
}
.bell-itemss:hover{
    background-color: #f5f5f5;
}
.bell-text{
    font-weight: 550;
    font-size: 15px;
    line-height: 1.3333;
    color: #0866FF;
}
.bell-textt{
    font-weight: 550;
    font-size: 15px;
    line-height: 1.3333;
}
.bell-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.bell-text-tt{
    font-weight: 550;
    font-size: 18px;
    line-height: 1.1765;
}
.bell-text-ttt{
    font-weight: 300;
    font-size: 13px;
    line-height: 1.3333;
    color: #0866ff;
}
.bell-itemsss{
    width: 88px;
    height: 36px;
    border-radius: 5px;
    background-color: white;
    border: none;
    outline: none;
    padding: 8px 0 8px;
}
.bell-itemsss:hover{
    background-color: #f5f5f5;
}
.bell-container-content{
    width: 344px;
    height: 90px;
    border-radius: 8px;
    background-color: white;
    border: none;
    outline: none;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    cursor: pointer;
}
.bell-container-content:hover{
    background-color: #f5f5f5;
}
.bell-content{
    padding: 10px;
}
.avatar-iconn{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px;
    position: relative;
}
.notification-item__info{
    padding-bottom: 30px;
}
.notification-item__desc strong{
    font-weight: 700;
    font-size: 15px;
}
.notification-item__time{
    color: #0866FF;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}
.smss{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    font-size: 20px;
    position: relative;
    left: 20px;
    top: -20px;
}
.avatar-item{
    border: none;
    outline: none;
    background-color: white;
}
.avatar-container{
    width: 344px;
    height: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 4px -4px #747474;
    position: absolute;
    top: 50px;
    border-radius: 18px;
    overflow-y: scroll;
    transition: height 0.001s ease-in-out; 
    overflow: hidden;
}
.personal-page:focus-within+ .avatar-container{
    height: 660px;
}




.sidebar{
    width: 20%;
    height: calc(100vh - 80px);
    padding: 10px 8px;
    overflow: auto;
    position: fixed;
    left: 0;
    top: 60px;
}
.sidebar-avatar{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 16px;
}
.sidebar-item{
    width: 100%;
    padding: 10px 8px;
    border-radius: 8px;
    box-sizing: border-box;
}
.sidebar-item:hover{
    background-color: #e7e7e7;
}
.sidebar-avatar-more{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar-see-more{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shortcuts{
    border-radius: 8px;
    border: 1px solid #b5b5b5;
}
.shortcuts-title{
    margin-left: 8px;
    color: gray;
    font-weight: 500;
    margin-top: 18px;
    margin-bottom: 10px;
}
.relative{
    position: relative;
    cursor: pointer;
}
.edit-shortcuts{
    position: absolute;
    right: 0;
    display: none;
    top: -8px;
    font-size: 14px;
    padding: 8px 10px;
    background-color: #e5e7e7;
    border-radius: 8px;
    color: #0866FF;
}
.relative:hover> .edit-shortcuts{
    display: block;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: border-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}


.body-page{
    display: flex;
    justify-content: space-between;
}

.right-sidebar{
    width: 20%;
    height: calc(100vh - 80px);
    overflow: auto;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    top: 60px;
}
.sponsor{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.sponsor img{
    width: 120px;
    height: 120px;
    border-radius: 8px;
    margin-right: 8px;
}
.sponsor p{
    color: #d6dee1;
}
.ml-0{
    margin-left: 0;
}



.newfeed-container{
    width: 40%;
    height: 2000px;
    margin: auto;
    margin-top: 80px;
    border-radius: 18px;
    background-color:white;
}
hr{
    width: 490px;
}
.newfeed-container-content{
    width: 490px;
    height: 280px;
}
.header-content-1{
    width: 230px;
    height: 60px;
    margin-right: 18px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.nav-items:hover{
    background-color: #f5f5f5;
    border-radius: 10px;
}
.nav-items{
    border: none;
    outline: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    width: 205px;
    height: 76px;
    margin-left: 20px;
}
.nav-items:focus{
    color: #0866FF;
    border-bottom: 3px solid #0866FF;
    
}
.header-content-2{
    width: 230px;
    height: 60px;
    margin-right: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #747474;
}
.icon-newfeed{
    width: 20px;
    height: 20px;
    font-size: 20px;
}
.content-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}
.newfeed-container-content-header{
    flex-direction: column;
}
.newfeed-header {
    width: 450px;
    height: 200px;
    gap: 10px;
    display: flex;
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;
}
.newfeed-header div {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgb(224, 221, 221);
}
.newfeed-header__item {
    position: relative;
}
.newfeed-item__ava {
    width: 100%;
    height: 80%;
    object-fit: cover;
    transition: transform 0.3s;
}
.newfeed-item__str {
    margin-left: 33px;
    margin-top: -22px;
    width: 40px;
    height: 40px;
    border: 4px solid white;
    background-color: #0866ff;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newfeed-item__str i {
    color: white;
    font-size: 20px;
    background-color: #0866ff;
}
.newfeed-header__item p {
    margin-top: 21px;
    font-size: 14px;
    margin-left: 34px;
}
.newfeed-header__item:hover .newfeed-item__ava {
    cursor: pointer;
    transform: scale(1.06);
}
.newfeed-header__item:hover {
    background-color: #e4e6eb;
}
.newfeed-header__story {
    width: 100px;
    height: 200px;
    position: relative;
}
.newfeed-header__story img {
    height: 100%;
}
.newfeed-story__name {
    color: white;
    position: absolute;
    bottom: 5px;
    left: -35px;
    font-weight: 600;
    font-size: 15px;
}
.newfeed-header__item button {
    position: absolute;
}
.newfeed-item__left {
    bottom: 80px;
    border: none;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    left: 5px;
}
.newfeed-item__left:hover {
    background-color: #f4f4f4;
    color: #958e8e;
}
.newfeed-item__right {
    bottom: 78px;
    border: none;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    left: 50px;
    padding-right: 10px;
}
.newfeed-item__right:hover {
    background-color: #f4f4f4;
    color: #958e8e;
}
.newfeed-story__circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 10px;
    overflow: hidden;
    border: 4px solid #176ef6;
}

.newfeed-container-new{
    width: 490px;
    height: 135px;
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.img-new{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.newfeed-baiviet{
    width: 420px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #f5f5f5;
    cursor: pointer;
    padding-left: 20px;
}
.newfeed-baiviet:hover{
    background-color: #dedcdc;
}
.newfeed-new{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}
.newfeed-content-new{
    margin-top: 10px;
    border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
hr{
   color: #d5d3d3;
   width: 470px;
}
.hop3{
    width: 490px;
    height: 550px;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
}
.sidebars-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.trang-thai {
    font-weight: 700;
}
.hop3-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}
.avatar-trang-thai{
    flex-direction: column;
    margin-right: 270px;
}
.icon-close{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}
.caption{
    padding: 10px;
}
.Tuan-anh{
    width: 490px;
    height: 400px;
}
.sidebar-item{
    gap: 10px;
    color: #5f5f5f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hop3-icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

@media only screen and (max-height: 390px){
      .search{
        width: 40px;
      }
}
    
